@page
@model IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
	ViewData["Title"] = GroupLibCompare.Program.AppName;
}

<div class="text-center">
	<h1 class="display-1" style="color: white; font-weight: 500;">Steam Library Comparer</h1>
	<div style="padding: 2%;"></div>
	<div class="flex-nowrap">
		<h2 class="display-5" style="color: white; font-weight: 200;">Enter SteamId list:</h2>
		<form id="list-form" class="text-box" type="text" method="POST">
			<input id="steam-id-list-input" style="width: 100%; height:100%;" asp-for="IdList"></input>
		</form>
		<div style="padding: 1%;"></div>

	</div>

	<div style="padding: 1%;"></div>
	<p style="color: white;">@ViewData["Output"]</p>

</div>
